<%- include('../componentLayout/adminMenu') %> 

<h2 class="page-title mt-4 mb-4 ml-3">Back up data</h2>
<form action="/adminPage/backup" method="get">
      <button class="btn btn-dark">Backup</button>
      <button class="btn btn-dark">Restore</button>
</form>

<%- include('../componentLayout/footer')  %> 
